---
layout: page
title: "Activities"
permalink: /activities/
---

{% for category in site.categories %}
  {% capture cat %}{{ category | first }}{% endcapture %}
  <h2 id="{{cat}}">{{ cat | capitalize }}</h2>
  {% for desc in site.descriptions %}
    {% if desc.cat == cat %}
      <p class="desc"><em>{{ desc.desc }}</em></p>
    {% endif %}
  {% endfor %}
  <ul class="posts-list">
  {% for post in site.categories[cat] %}
    <li>
      <strong>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </strong>
      <span class="post-date">- {{ post.date | date_to_long_string }}</span>
    </li>
  {% endfor %}
  </ul>
  {% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
<br>

## Members

| **TIME** | **NAME** | | **STATUS** | **AFFILIATION** |
| 2003 — present | **Chenggang Shao** | **邵成刚** | Professor | [CGE-HUST](http://ggg.hust.edu.cn/) |
| 2017 — present | **Yujie Tan** | **谈玉杰** | Postdoctor | [CGE-HUST](http://ggg.hust.edu.cn/) |
| 2016 — present | **Chenggang Qin** | **秦成刚** | PhD Student | [CGE-HUST](http://ggg.hust.edu.cn/) |
| 2016 — present | **Xiaoyu Lu** | **路晓宇** | PhD Student | [CGE-HUST](http://ggg.hust.edu.cn/) | 
| 2016 — present | **Yajie Wang** | **王亚杰** | PhD Student | [CGE-HUST](http://ggg.hust.edu.cn/) |
| 2017 — present | **Panpan Wang** | **王盼盼** | PhD Student | [CGE-HUST](http://ggg.hust.edu.cn/) |
| 2018 — present | **Miaomiao Zhao** | **赵苗苗** | PhD Student | [CGE-HUST](http://ggg.hust.edu.cn/) |
| 2018 — present | **Yuanling Zhao** | **赵媛羚** | PhD Student | [CGE-HUST](http://ggg.hust.edu.cn/) |
| 2018 — present | **Yu Hu** | **胡宇** | PhD Student | [CGE-HUST](http://ggg.hust.edu.cn/) |
| 2018 — present | **Caiying Shao** | **邵才莹** | Master Student | [CGE-HUST](http://ggg.hust.edu.cn/) |